:root{
    --color_primary: rgb(123, 6, 123); /*When hovering over project card*/
    --color_secondary: rgb(178, 11, 158);
    --color_accent: rgb(255, 72, 0);
    --color_headings: rgb(114, 11, 114);
    --color_body: rgb(198, 125, 198);
}

/* Typography */

html{
    font-size: 62.5%;
}

body{
    color: var(--color_body);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5; /* 1.5 times font size */
}

h1, h2, h3{
    color: var(--color_headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }

    h1{
        font-size: 8rem;
    }

    h3{
        font-size: 2rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow{
    color: var(--color_accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{ /*Arrow move right when hover over link*/
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */
/* Utilization of Object Oriented CSS allow free combinations of badge color/size */

/* Structure of a badge */
.badge{ 
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap; /* Badge doesn't wrap to a new line */
} 

/* Badge color/size variations */
.badge--primary{
    background: var(--color_primary);
    color: white;
}

.badge--secondary{
    background: var(--color_secondary);
    color: white;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color_headings);
}

/* For each list item under a inline list */
.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../Images/tick.svg);
    padding-left: 3rem;
}

/* For a tick list, add some padding between the tick and item */
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
    .list--tick .list__item{
        padding-left: 0;
    }
}
