<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">This is My Personal Site</h1>
            <p class="hero__tagline">Including my projects, experiences, as well as my goals and interests</p>
            <a href="#" class="button button--accent button--stretched">Contact Me</a>
        </header>
        <img class="hero__image" src="Images/AI.png" alt="">
    </div>
</section>