<nav class="nav collapsible">
    <a class="nav__logo" href="/"><img src="Images/logo_white.png" alt=""></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="Images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item nav__item-top"><a href="#">Projects</a></li>
        <li class="nav__item"><a href="#">Experience</a></li>
        <li class="nav__item"><a href="#">Hobbies</a></li>
        <li class="nav__item"><a href="#">Blogs</a></li>
    </ul>
</nav>