<blockquote class="quote">
    <p class="quote__text"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quam?
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="Images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Zhang</h3>
                <p class="quote__organization">
                    Student, University of Waterloo
                </p>
            </div>
        </div>
    </footer>
</blockquote>